

[data-lang~=devnag]{
  text-align: center;
  font-size: 300% !important;
  border: 2px solid  #B48EAD;
}

.pre .code[class~="poetry"]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid #A3BE8C;
}

.pre .code [class*="poetry"]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid #ffd52d;
}

.pre .code [class*=poetry]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid #ffd52d;
}

[data-lang~=lyrics]{
  text-align: center;
  font-size: 150% !important;
  color: #88c0d0;
}

a.footnote-ref::before {
  content: '[';
}

a.footnote-ref::after {
  content: ']';
}

iframe{
  align-content: center;
  display  : block;
  margin   : 10 auto;
  border   : 0;
  overflow : hidden;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #ffd52d;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: #272133;
  border-radius: 10px;
}
i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}






/* includes alternating gray and white with on-hover color */

.data-frame {
  font-size: 11pt; 
  font-family: Arial;
  border-collapse: collapse; 
  border: 1px solid silver;

}

.data-frame td, th {
  padding: 5px;
}

.dat-frame th {
  background: #B48EAD;
}

.data-frame tr:nth-child(even) {
  background: #a19b9b;
  color: #3B4252;
}

.data-frame tr:hover {
  background: #D08770;
  color: #3B4252;
  cursor: pointer;
}


.included-content {
  border: 2px dotted #A3BE8C !important;
  border-radius: 3%;
}

.yt-media {
  margin-top: var(--bigMargin);
  margin-bottom: var(--bigMargin);

  border: 1px solid var(--border-color);
  padding: var(--pad);
  border-radius: var(--radius);
  display: block;
  font-size: 11pt;

  background-color: var(--code-background);
  color: var(--code-color);
  font-family: 'Inconsolata', monospace;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 14pt;

  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}