:root{
  /* Polar Night is made up of four darker colors that are commonly used for base elements like backgrounds or text color in bright ambiance designs.
  */
  --nord-polar-night-0: #2e3440;
  --nord-polar-night-1: #3b4252;
  --nord-polar-night-2: #434c5e;
  --nord-polar-night-3: #4c566a;
  /* Snow Storm is made up of three bright colors that are commonly used for text colors or base UI elements in bright ambiance designs. */
  --nord-snow-storm-4: #e5e9f0;
  --nord-snow-storm-5: #d8dee9;
  --nord-snow-storm-6: #eceff4;
  /* Frost can be described as the heart palette of Nord, a group of four bluish colors that are commonly used for primary UI component and text highlighting and essential code syntax elements.  */
  --nord-frost-7: #8fbcbb;
  --nord-frost-8: #88c0d0;
  --nord-frost-9: #81a1c1;
  --nord-frost-10: #5e81ac;
  /* Aurora consists of five colorful components reminiscent of the „Aurora borealis“, sometimes referred to as polar lights or northern lights. */
  --nord-aurora-11: #bf616a;
  --nord-aurora-12: #d08770;
  --nord-aurora-13: #ebcb8b;
  --nord-aurora-14: #a3be8c;
  --nord-aurora-15: #b48ead;
}

[data-lang~=devanagri]{
  text-align: center;
  font-size: 300% !important;
  border: 2px solid var(--nord-aurora-15);
}

pre code[class*="poetry"]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid var(--nord-aurora-13);
}

/*
<pre><code class=language-lyrics data-lang=lyrics>
Listen to your heart,
It knows right from wrong,
Let it guide you,



pre code[data-lang=lyrics]{
  text-align: center;
  font-size: 150% !important;
  border: 2px solid var(--nord-frost-8);
}

pre > code.language-lyrics
*/
pre :has(code.language-lyrics){
  background: yellow;
  text-align: center;
  font-size: 150% !important;
  border: 2px solid red;
}

.error{
  background: var(--nord-aurora-11);
  color: color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}

.warn{
  background: var(--nord-aurora-13);
  color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}

.success{
  background: var(--nord-aurora-14);
  color: var(--nord-polar-night-2);
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 150% !important;
}


a.footnote-ref::before {
  content: '[';
}

a.footnote-ref::after {
  content: ']';
}

iframe{
  align-content: center;
  display  : block;
  margin   : 10 auto;
  border   : 0;
  overflow : hidden;
}

/* includes alternating gray and white with on-hover color */

.data-frame {
  font-size: 11pt;
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid silver;

}

.data-frame td, th {
  padding: 5px;
}

.dat-frame th {
  background: #B48EAD;
}

.data-frame tr:nth-child(even) {
  background: #a19b9b;
  color: #3B4252;
}

.data-frame tr:hover {
  background: #D08770;
  color: #3B4252;
  cursor: pointer;
}


.included-content {
  border: 2px dotted #A3BE8C !important;
  border-radius: 3%;
}

.yt-media {
  margin-top: var(--bigMargin);
  margin-bottom: var(--bigMargin);

  border: 1px solid var(--border-color);
  padding: var(--pad);
  border-radius: var(--radius);
  display: block;
  font-size: 11pt;

  background-color: var(--code-background);
  color: var(--code-color);
  font-family: 'Inconsolata', monospace;
  overflow-x: auto;
  white-space: nowrap;
  line-height: 14pt;

  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
