@charset "UTF-8";

$nord-polar-night-0: #2e3440;
$nord-polar-night-1: #3b4252;
$nord-polar-night-2: #434c5e;
$nord-polar-night-3: #4c566a;
/* Snow Storm is made up of three bright colors that are commonly used for text colors or base UI elements in bright ambiance designs. */
$nord-snow-storm-4: #e5e9f0;
$nord-snow-storm-5: #d8dee9;
$nord-snow-storm-6: #eceff4;
/* Frost can be described as the heart palette of Nord, a group of four bluish colors that are commonly used for primary UI component and text highlighting and essential code syntax elements.  */
$nord-frost-7: #8fbcbb;
$nord-frost-8: #88c0d0;
$nord-frost-9: #81a1c1;
$nord-frost-10: #5e81ac;
/* Aurora consists of five colorful components reminiscent of the „Aurora borealis“, sometimes referred to as polar lights or northern lights. */
$nord-aurora-11: #bf616a;
$nord-aurora-12: #d08770;
$nord-aurora-13: #ebcb8b;
$nord-aurora-14: #a3be8c;
$nord-aurora-15: #b48ead;