/* 2021-10-19
 TAG CLOUD*/

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  /* width: 450px; */
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(tag-count number); 
  */
  --size: 3;
  color: $nord-aurora-11;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}

ul.cloud a[tag-count="1"] { --size: 2; }
ul.cloud a[tag-count="2"] { --size: 4; }
ul.cloud a[tag-count="3"] { --size: 6; }
ul.cloud a[tag-count="4"] { --size: 7; }
ul.cloud a[tag-count="5"] { --size: 8; }
ul.cloud a[tag-count="6"] { --size: 10; }
ul.cloud a[tag-count="7"] { --size: 8; }
ul.cloud a[tag-count="8"] { --size: 9; }
ul.cloud a[tag-count="9"] { --size: 9; }

ul[data-show-value] a::after {
  content: " (" attr(tag-count) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { color: $nord-aurora-14; }
ul.cloud li:nth-child(3n+1) a { color: $nord-aurora-12; }
ul.cloud li:nth-child(4n+1) a { color: $nord-frost-9; }
ul.cloud li:nth-child(5n+1) a { color: $nord-aurora-13; }
ul.cloud li:nth-child(6n+1) a { color: $nord-snow-storm-5; }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: $nord-snow-storm-5;
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}