{{- with .Site.Params.favicon.color }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{"favicon_io/apple-touch-icon.png" | absURL}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{"favicon_io/favicon-32x32.png" | absURL}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{"favicon_io/favicon-16x16.png" | absURL}}">
    <link rel="manifest" href="{{"site.webmanifest" | relURL}}">
    <link rel="mask-icon" href="{{"safari-pinned-tab.svg" | relURL}}" color="{{.mask}}">
    <link rel="shortcut icon" href="{{"favicon_io/favicon.ico" | absURL}}">
    <meta name="msapplication-TileColor" content="{{.msapplication}}">
    <meta name="theme-color" content="{{.theme}}">
{{ end }}
