{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $secureJS := slice $main $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script><!-- does not work on localhost-->
        <script src="{{ . | absURL }}"></script>
    {{ end }}
{{ end }}

<!--flowchart.js-->
<script defer  type="text/javascript"  crossorigin="anonymous"
    src="https://raw.githubusercontent.com/adrai/flowchart.js/master/release/flowchart.min.js"></script>
</script>

<!-- mathjax -- superceded by KaTeX?-->
<script defer type="text/javascript"  crossorigin="anonymous"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js">
</script>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer type="text/javascript"  crossorigin="anonymous"
    src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" 
    integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer  type="text/javascript"  crossorigin="anonymous"
    src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" 
    integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl"
    onload="renderMathInElement(document.body);"></script>

