{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $secureJS := slice $main $menu $prism  | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha256" }}

<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{- if .Site.Params.goatcounter }}
    {{ template "partials/goatcounter.html" . }}
{{- end}}

{{- if .Site.Params.g_recaptcha_data_sitekey }}
    {{ template "partials/g-recaptcha-js.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <!-- does not work on localhost<script src="{{ $val }}"></script> -->
        <script src="{{ . | absURL }}"></script>
    {{ end }}
{{ end }}

<!-- fontawesome.js-->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

<!--flowchart.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.15.0/flowchart.min.js" integrity="sha512-6QsSiIybtf8tuZ6xfjRTr2tdtw3Gp4q5RSCh2b6q9seoKEQmhAG1RrCA8F0kXTwivVxRVbp/YF3zOh8rvEAU7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- mermaid.js for more complicated flowcharts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.13.2/mermaid.min.js" integrity="sha512-0kIi9M7moF8oGrSrZ9hU8Co9/+c1jvuvKrlLic6bBm2Bbhwa5JnADWSXCdo4oVj1xt658YAiFj0O0XRbltgJ/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer type="text/javascript"  crossorigin="anonymous"
    src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
    integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer  type="text/javascript"  crossorigin="anonymous"
    src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"
    integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl"
    onload="renderMathInElement(document.body);"></script>
