<div class="logo" style="margin-top: 10px;">
    <a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}" style="text-decoration: none;" tabindex="-1">

    {{ if .Site.Params.Logo.LogoPath }}
        <img src="{{ .Site.Params.Logo.Logo.path }}" alt="{{ .Site.Params.Logo.logo.alt }}" />
    {{ else }}    
    <!--<img src="{{ .Site.Params.Logo.logoImage }}" alt="{{ .Site.Params.Logo.logoAlt }}">-->
        <span class="logo__mark" style="flex:auto">
            ~/{{ with .File }}{{ .Dir }}{{ end }}
        </span>
       
        <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}
            {{ else }}{{ end }}
        </span>

        <span class="logo__cursor" style=
                "{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}">
                
        </span>
    </a>    
        {{ partial "search-form.html" .}}
     
    {{ end }}
    {{ partial "search-index.html" . }}
</div>

