<div class="search">
  <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
  <script src="/js/lunr.min.js"></script>
  <script src="/js/search.js"></script>
  <form id="search"
    action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' 
    method="get">
    <label hidden for="search-input">Search site</label>
    <input type="text" 
      id="search-input" 
      name="query"
      placeholder="Type here to search">
    <input type="submit" value="search">
  </form>

</div>

<!--
<div class="box">
  <form name="search">
      <input type="text" class="input" name="txt" 
      onmouseout="document.search.txt.value = ''">
  </form>
      <i class="fas fa-search"></i>
</div>-->

